.body {
  margin: 0;
  background: linear-gradient(-45deg, #454b56, #141414, #131c2c, #0e131d);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}

/*Experimenting with linear animations*/

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  text-align: center;
  padding: 20px 0;
  color: #fff;
}

.header_title {
  margin: 0;
  padding-bottom: 5px;
  font-size: 45px;
  color: #08ce68;
}

.header_subtitle {
  margin: 0;
  padding-bottom: 12px;
  font-size: 18px;
  border-bottom: 2px solid #242629;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 140px); /* I subtracted header height */
}

.form_title {
  color: #08ce68;
  font-size: 40px;
  margin: 0 0 16px;
}

.form_subtitle {
  color: #fff;
  font-size: 16px;
  margin: 0 0 16px;
}

.form_container {
  display: flex; /* Used flexbox for horizontal alignment */
  flex-direction: column; /*Stack children vertically */
  align-items: center;
  width: 380px;
}

.floating_form {
  width: 480px;
  padding: 55px 55px 65px;
  background: #262a2f;
  border-radius: 12px;
  border: 1px solid #262a2f;
  box-shadow: 18px 30px rgba(0, 0, 0, 0.55);
  opacity: 0.97;
}

.form_group {
  position: relative;
  margin-bottom: 30px;
}

.form_group input:focus {
  box-shadow: 0 0 10px #08ce68;
  border-color: #08ce68;
} /*Text box glows while user types*/

.form_group input {
  width: 100%;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  background-color: 485460;
  border-bottom: 1px solid #08ce68;
  color: #000;
  font-size: 16px;
  outline: none;
}

.form_group label {
  position: absolute;
  top: 10px;
  left: 5px;
  color: #595959;
  font-size: 18px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.form_group .highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #08ce68;
  transition: all 0.3s ease;
}

/* animations for form input lables */

.form_group input:focus ~ label,
.form_group input:valid ~ label {
  top: -18px;
  font-size: 16px;
  color: #08ce68;
}

.submit_btn {
  width: 100%;
  padding: 18px;
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background: #08ce68;
  /* color: #000; */
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit_btn:hover {
  background: #3b7f59;
  color: #e8e8e8;
  transform: translateY(-2px); /*Learned something new*/
}

.submit_btn:active {
  transform: scale(0.98);
}

.small_note {
  color: #ffffff;
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
}
