/* .header {
} */

body {
  margin: 0;
  background: #0b121f;
}

.header {
  text-align: center;
  padding: 20px 0;
  color: #fff;
}

.header_title {
  margin: 0;
  padding-bottom: 5px;
}

.header_content {
  margin: 0;
  padding-bottom: 12px;
  border-bottom: 2px solid #485460;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 140px); /* I subtracted header height */
}

.form_title {
  color: #08ce68;
  font-size: 28px;
  margin: 0 0 16px;
}

.form_subtitle {
  color: #fff;
  font-size: 12px;
  margin: 0 0 16px;
}

.form_container {
  display: flex; /* Used flexbox for horizontal alignment */
  flex-direction: column; /*Stack children vertically */
  align-items: flex-end; /* Align .form_footer-text to the right edge */
  width: 380px;
}

.floating_form {
  width: 300px;
  padding: 40px;
  background: #262a2f;
  border-radius: 8px;
  border: 1px solid #262a2f;
  box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.5);
  opacity: 0.97;
}

.form_group {
  position: relative;
  margin-bottom: 30px;
}

.form_group input {
  width: 100%;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  background-color: 485460;
  border-bottom: 1px solid #08ce68;
  color: #ccc;
  font-size: 16px;
  outline: none;
}

.form_group label {
  position: absolute;
  top: 10px;
  left: 5px;
  color: #595959;
  font-size: 18px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.form_group .highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #08ce68;
  transition: all 0.3s ease;
}

/* animations for form input lables */

.form_group input:focus ~ label,
.form_group input:valid ~ label {
  top: -18px;
  font-size: 16px;
  color: #08ce68;
}
